html, body {
	margin: 0;
	padding: 0;
}

#thisImage {
	width: 400px;
}

img {
	max-width: 100%;
	height: auto;
}

.cropper-crop {display: none;} .cropper-bg {background: none;}

.container-fluid {
	margin: 0 auto;
	text-align: center;
	padding-top: 30px;
}

.container-fluid div {
	display: inline-block;
}

#picToCrop {
	display: none;
}

#main {
	display: none;
	width: 400px;
}

#main label {
	margin-top: 10px;
}

textarea {
	resize: none;
	height: 140px;
	overflow-y: scroll;
}


@media (max-width: 575.98px) {
	#thisImage, #main {
		width: 280px;
	}

	input[type="file"] {
		width: 170px;
	}

	button:nth-of-type(1) {
		margin-top: 10px;
	}

	textarea {
		height: 80px;
	}
}