html, body {
	margin: 0;
	padding: 0;
}

#thisImage {
	width: 400px;
}

img {
	max-width: 100%;
	height: auto;
}



.container-fluid {
	margin: 0 auto;
	text-align: center;
	padding-top: 20px;
}

.container-fluid div {
	display: inline-block;
}

#picToCrop {
	display: none;
}

#main {
	display: none;
	width: 400px;
}

#main label {
	margin-top: 10px;
	font-weight: 600;
	color: white;
}

textarea {
	resize: none;
	height: 140px;
	overflow-y: scroll;
}


@media (max-width: 575.98px) {
	#thisImage, #main {
		width: 250px;
		/*	width: 270px;	*/
	}

	input[type="file"] {
		width: 150px;
	}

	button:nth-of-type(1) {
		margin-top: 10px;
	}

	textarea {
		height: 80px;
	}
}

.navbar {opacity: 0.75;} nav a{ color: white; font-weight: 700} nav a:hover{ color: #003366; }
.cropper-crop {display: none;} .cropper-bg {background: none;}
hr {border-top: 4px double #8c8b8b;text-align: center;} hr:after {content: '\002665';display: inline-block;position: relative;top: -15px;padding: 0 10px;background: #f0f0f0;color: #8c8b8b;font-size: 18px;}
